<div class="widget_examples">
  <h1>Customizing widget design</h1>




  <p>With <b>custom_widget_css</b> attribute</p>
  <div class="code_example">
    <%= "<iframe id='widget' custom_widget_css='http://localhost:3001/custom_uncoverage_widget.css' src='http://localhost:3000/widget?journalist_id=538232c25679610408210000&amp;amount=100' style='border: 0; width: 398px; height: 168px;' "%>></iframe>
  </div>
  <div class="widget_example">
    <script src="http://<%= Rails.env.production? ? 'alpha.uncoverage.com' : 'localhost:3000' %>/assets/widget/widget_code.js"></script>
    <iframe id="widget" custom_widget_css="http://<%= Rails.env.production? ? 'widgetexample.herokuapp.com' : 'localhost:3001' %>/custom_uncoverage_widget.css" src="http://<%= Rails.env.production? ? 'alpha.uncoverage.com' : 'localhost:3000' %>/widget?journalist_id=<%= Rails.env.production? ? @journalist.uncoverage_id : '538232c25679610408210000' %>&amount=100" style="border: 0; width: 398px; height: 168px;"/></iframe>
  </div>

  <p>Without <b>custom_widget_css</b> attribute</p>
  <div class="code_example">
    <%= "<iframe id='widget' src='http://localhost:3000/widget?journalist_id=538232c25679610408210000&amp;amount=100' style='border: 0; width: 398px; height: 168px;' "%>></iframe>
  </div>

  <div class="widget_example">
    <script src="http://<%= Rails.env.production? ? 'alpha.uncoverage.com' : 'localhost:3000' %>/assets/widget/widget_code.js"></script>
    <iframe id="widget" src="http://<%= Rails.env.production? ? 'alpha.uncoverage.com' : 'localhost:3000' %>/widget?journalist_id=<%= Rails.env.production? ? @journalist.uncoverage_id : '538232c25679610408210000' %>&amount=100" style="border: 0; width: 398px; height: 168px;"/></iframe>
  </div>
</div>