<!DOCTYPE html>
<html>
<head>
  <title>Widgetexample</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <% if @mobile_device %>
    <%= stylesheet_link_tag "mobile", :media => "all" %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <h1>Brown Moses Team</h1>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
